build/
**/build/

.vscode/
**/.vscode/

.pio/
**/.pio/

*.tmp
*.log


*.bin
*.elf
*.o
*.out

managed_components/
components/
**/managed_components/
**/components/

*~
*.swp

venv/
.venv/
**/venv/
**/.venv/
